html {
	scroll-behavior: smooth;
}
body {
	margin: 0px;
}
.corpo {
	margin: 0px;
	display: grid;
	grid-template-columns: min-content 1fr;
	font-family: system-ui, sans-serif;
	margin-left: 0px;
}
nav.lat {
	height: 100%;
	white-space: nowrap;
	background: #37474F;
}
.lat a:hover {
	color: #E8C91A;
}
.lat {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* Barralaterale rimane ferma quando ci sta */

/* @media (min-height: 300px) { */

/* .lat { */

/* position: sticky; */

/* top: 0; */

/* } */

/* } */

.lat {
	position: sticky;
	top: 0;
}
@media screen and (max-width: 765px) {
	/*Visualizzazione cellulare*/
	.linktopbar-brand{
		float:left;
	}
	nav.lat {
		width: 0;
	}
	ul.lat {
		display: none;
	}
	.primolink {
		margin-top: 15px;
	}
	div.linktopbar {
		z-index: 0;

	}
	div.pagina {
		margin-left: 50px;
		height: 100%;
	}
}
.lat a {
	display: block;
	padding: 0.5rem 1rem;
	color: white;
	text-decoration: none;
}
.lat a.current {
	background: black;
}
main {
	padding-bottom: 50px;
}
.pagina {
	margin-left: 15px;
	height: 100%;
}
.misurepagina {
	height: 110%;
	width: 70vw;
	margin-top: 22px;
}
p.punto1{
	position: absolute;
	top: 20vw;
}
p.punto2{
	position: absolute;
	top: 118vw;
}
p.punto3{
position: absolute;
top: 125vw;
}
p.punto4{
position: absolute;
top: 223vw;
}
p.punto5{
position: absolute;
top: 385vw;
}
p.punto6{
position: absolute;
top:840vw;
}
p.punto7{
position: absolute;
top: 845vw;
}
img {
	border: 1px solid #000000;
}
.sottomenu {
	display: none;
}
.topbar {
	background-color: #37474F;
	display: flex;
	padding: 16px;
	font-family: sans-serif;
	color: white;
	height: 20px;
	text-align: center;
}
.linktopbar {
	padding-right: 10px;
	background-color: #37474F;
}
.oggettitopbar {
	display: flex;
}
.oggettitopbar--right {
	margin-left: auto;
}
.btnmostra {
	display: none;
}


@media only screen and (max-width: 765px) {
	.oggettitopbar, .topbar {
		flex-direction: column;
	}
	.oggettitopbar {
		display: none;
	}
	.oggettitopbar--right {
		margin-left: 0;
	}
	.Navbar__ToggleShow {
		display: flex;
	}
	.btnmostra {
		align-self: flex-end;
		display: initial;
		position: absolute;
		cursor: pointer;
	}
}
marquee{
	margin-top: 10px;
	color: red;
}
li.lat:first-child{
	text-align: center;
}
                                                     /* Solo per firefox */





@-moz-document url-prefix() {

div.pagina {
	margin-left: 15px;
	height: 100vw;
	width: 70vw;
}
.misurepagina {
	height: 100%;
	width: 100%;
	margin-top: 22px;
}
p.punto1{
	position: absolute;
	top: 17vw;
}
p.punto2{
	position: absolute;
	top: 117vw;
}
p.punto3{
position: absolute;
top: 122vw;
}
p.punto4{
position: absolute;
top: 222vw;
}
p.punto5{
position: absolute;
top: 385vw;
}
p.punto6{
position: absolute;
top:835vw;
}
p.punto7{
position: absolute;
top: 840vw;
}
}
